*{
    color: white;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(to bottom, black 50%, blueviolet 100%);
    user-select: none;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}
.btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.name{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.btn button{
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
a{
    color: rgb(255, 100, 100);
}
.age{
    background-color: rgba(0, 0, 0, 0.534);
    text-align: center;
    border-radius: 5px;
}
#age{
    padding:5px;
    color: rgb(148, 255, 148);
    
}
#linkk{
    display: none;
    background-color: rgba(128, 128, 128, 0.297);
    border-radius: 10px;
}
.img{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.link{
    display: flex;
    justify-content: center;
}
@keyframes main {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
main{
    padding: 10px;
    margin: 10px;
    animation-name: main;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0s;
    display: none;
}
.selection{
    justify-content: space-between;
    display: flex;
}
.select option{
    color: rgb(0, 0, 0);
}
.iframe{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.name input ,.select{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.name input{
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.name input:focus{
    outline: none;
}
.select{
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 47%;
}
.select:focus{
    outline: none;
}
.paragrapgh{
    display: none;
}
footer{
    padding: 10px;
    text-align: center;
    animation-name: main;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}
.user_name{
    text-align: center;
    color: rgb(148, 255, 148);
    display: none;
}
.access{
    display: flex;
    justify-content: space-between;
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}
.access div{
    width: 40%;
}
.access div input{
    width: 100%;
    color: black;
    padding: 5px;
}
.access div button{
    width: 100%;
    color: black;
    padding: 5px;
}
@media only screen and (max-width: 500px){
    .access div{
        width: 100%;
    }
    .access div input{
        color: rgb(255, 255, 255);
        background-color: black;
        border: 1px solid white;
    }
    .access div input:focus{
        outline: none;
    }
    .access div button{
        color: rgb(255, 255, 255);
        background-color: black;
        border: 1px solid white;
    }
    .selection{
        display: block;
    }
    .select{
        text-align: center;
    }
    .paragrapgh p{
        text-align: center;
    }
    .name input{
        color: white;
        background-color: black;
    }
    .select iframe{
        height: 250px;
    }
    .btn button{
        background-color: black;
        color: white;
    }
    .select option{
        color: white;
    }
    #age{
        text-align: center;
    }
    .select{
        width: 100%;
        background-color: black;
        color: white;
    }
    main{
        background-color: rgba(255, 255, 255, 0.16);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.50);
        padding: 5px;
        margin: 5px;
        overflow: hidden;
        border-radius: 10px;
    }
    #link{
        text-align: center;
    }
}
header{
    padding: 10px;
}
@keyframes logo {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    50%{
        transform: translateY(50px);
        opacity: 1;
    }
    100%{
        transform: translate(0px);
    }
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}
.slogan{
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: blueviolet;
}
.logo div p{
    font-size: 20px;
}
.version p{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: grey;
}
.version p:nth-child(2){
    text-decoration: underline;
    color: white;
    font-size: 20px;
    font-style: normal;
}
.notes{
    display: none;
    background-color: rgb(128, 128, 128);
    margin-bottom: 10px;
    padding: 5px;
}
.notes p{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 20px;
}
.notes ol li{
    color: black;
    font-style: italic;
}